* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #aaaaaa;
	display: grid;
	grid-template-rows: 7em 75vh 5em;
}

img {
	font-style: italic;
	text-align: center;
}

main {
	margin: 0 2vw;
	background-color: white;
	overflow-y: visible;
}

.user {
	background-color: #aadddd;
}

.ai {
	background-color: #ffaabb;
}

.ai.aiError {
	background-color: #ff0000;
}

.user::before {
	font-weight: bold;
	content: "User: ";
}

.ai::before {
	font-weight: bold;
	content: "AI: ";
}

#chatDiv p {
	font-size: 1.5em;
	border: 0.1em solid black;
	border-radius: 22px;
	padding: 0.5em;
	margin: 0.5em;
	width: fit-content;
}

#chatDiv {
	padding: 1em;
	display: flex;
	flex-direction: column;
	height: 95%;
	overflow-y: auto;
}

div[id^="convo"] {
	display: grid;
	grid-template-columns: auto auto;
}

.delConvo {
	grid-row: 1/4;
	grid-column: 2;
	background-color: transparent;
	border: none;
	margin: 1.5em 0;
	margin-left: 0.5em;
	visibility: hidden;
}

div[id^="convo"]:hover>.delConvo {
	visibility: visible;
}

header img {
	height: 3em;
}

.delConvo img {
	width: 1.5em;
	height: 1.5em;
}

textarea {
	resize: none;
	width: 100%;
}

#userPrompt {
	max-height: 10em;
}

form * {
	font-size: 1.5em;
}

header {
	font-size: 2.5vmax;
	padding: 1em 0;
	display: grid;
	grid-template-columns: 1fr 7em;
	align-items: center;
	justify-content: center;
}

header>div {
	font-size: 2vmax;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#btnClearAll {
	font-size: 1.5em;
}

form {
	background-color: #aaaaaa;
	display: grid;
	grid-template-columns: 4em 10fr 4.5em;
	align-items: center;
	justify-items: center;
	padding: 1em 0;
}

button {
	font-weight: bold;
	font-size: 2em;
	width: fit-content;
	height: fit-content;
	margin: 0 0.5em;
	cursor: pointer;
}

button#btnSend {
	width: 1.5em;
	height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

button#btnSend>img {
	width: 0.8em;
}

button#btnHelp {
	font-size: 1.5em;
	height: 1.5em;
	width: 1.5em;
	border-radius: 45px;
	background-color: #5c72ff;
}

dialog {
	margin: auto;
	font-size: large;
}

dialog::backdrop {
	background: rgb(0 0 0 / 45%);
}

dialog h1 {
	text-align: center;
}

dialog section {
	margin: 1em 0;
}

dialog section * {
	margin: 0.3em 0 0.3em 1em;
}

dialog h3 {
	text-decoration: underline;
	margin-left: 0em;
	font-size: 1.5em;
}

dialog>div {
	padding: 1em;
}

button#btnCloseHelp {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	background-color: red;
	border-right: 0;
	border-top: 0;
	font-size: 1.5em;
	height: 1.5em;
	width: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: blue;
	font-weight: bold;
}

a:hover {
	color: aqua;
}

@media all and (min-width: 768px) {
	body {
		grid-template-rows: 7em 76vh 5em;
	}

	main {
		overflow-y: visible;
	}

	header {
		font-size: 1.2em;
	}

	header>div {
		font-size: inherit;
		margin-left: 10em;
	}
}
