.root-element, .dialog-pane {
	-fx-background-color: #800;
	-fx-border-color: #000;
	-fx-border-style: solid;
	-fx-border-width: 5.0;
}

.menu-bar, .dialog-pane:header .header-panel {
	-fx-border-color: #000;
	-fx-border-style: solid;
	-fx-border-width: 0.0 0.0 5.0 0.0;
}

.menu-bar, .menu-item, .context-menu, .dialog-pane:header .header-panel {
	-fx-background-color: #600;
}

.menu .label, .menu-item .label, .menu {
	-fx-font-size: 18.0;
	-fx-text-fill: #f00;
	-fx-font-weight: bold;
}

.menu:hover, .menu-item:hover, .menu:showing, .dialog-pane .button:hover {
	-fx-background-color: #500;
}

.text-area, .text-area .content, .dialog-pane > .content.label {
	-fx-background-color: #800;
	-fx-text-fill: #f00;
	-fx-border-width: 0.0;
    -fx-highlight-fill: #500;
} 

.separator .line {
    -fx-background-color: #000;
    -fx-border-color: #000;
}

.slider .track {
	-fx-background-color: #a00;
}

.slider .thumb {
	-fx-pref-height: 25.0;
	-fx-pref-width: 15.0;
	-fx-background-color: #000;
}

.scroll-bar:vertical , .scroll-bar:horizontal {
	-fx-pref-width: 20.0;
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track {
	-fx-background-color: #c00;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
	-fx-background-color: #800;
}

.increment-button , .decrement-button {
	-fx-background-color: #c00;
	-fx-border-color: #c00;
	-fx-padding: 0.0;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0 0.0 0.0 0.0, 0.0 0.0 0.0 0.0, 0.0 0.0 0.0 0.0;
}

.increment-arrow , .decrement-arrow {
	-fx-pref-width: 10.0;
	-fx-pref-height: 5.0;
	-fx-position-shape: true;
	-fx-scale-shape: true;
	-fx-background-color: transparent;
}

.arrow-item  .arrow-button, .arrow-item .arrow {
    -fx-background-color: #fff;
    -fx-pref-width: 10.0;
	-fx-pref-height: 5.0;
	-fx-position-shape: true;
	-fx-scale-shape: true;
}

.check-menu-item, .radio-menu-item {
    -fx-mark-color: transparent;
}

.check-menu-item:checked, .radio-menu-item:checked {
    -fx-mark-color: #fff;
}

.dialog-pane:header .header-panel .label {
	-fx-font-size: 30.0;
	-fx-text-fill: #f00;
	-fx-font-weight: bold;
}

.button, .menu-item {
	-fx-cursor: hand;
}

.dialog-pane > .content.label {
	-fx-font-size: 20.0;
}

.dialog-pane .button {
   	-fx-font-size: 18.0;
	-fx-text-fill: #f00;
	-fx-background-color: #600;
	-fx-effect: null;
	-fx-font-weight: bold;
	-fx-border-color: #000;
	-fx-border-style: solid;
	-fx-border-width: 3.0;
	-fx-background-radius: 15.0;
	-fx-border-radius: 15.0;
 }