[Desktop Entry]
Name[am]=የ መስመር ላይ መግለጫዎች
Name[ast]=Cuentes en llinia
Name[be]=Сеткавыя ўліковы запісы
Name[br]=Kontoù enlinenn
Name[ca]=Comptes en línia
Name[cs]=Účty on-line
Name[cy]=Cyfrifon Ar-lein
Name[da]=Onlinekonti
Name[de]=Internetkonten
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[eo]=Retkontoj
Name[es]=Cuentas en línea
Name[et]=Võrgus asuvad kontod
Name[eu]=Online kontuak
Name[fa]=حساب های آنلاین
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[fr_CA]=Comptes en ligne
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन खाते
Name[hu]=Online fiókok
Name[ia]=Contos in linea
Name[id]=Akun-akun Daring
Name[is]=Aðgangar á neti
Name[it]=Account online
Name[ja]=オンラインアカウント
Name[ko]=온라인 계정
Name[lt]=Internetinės paskyros
Name[nb]=Online Kontoer
Name[nl]=Internetaccounts
Name[oc]=Comptes en linha
Name[pl]=Konta online
Name[pt]=Contas online
Name[pt_BR]=Contas Online
Name[ro]=Conturi online
Name[ru]=Сетевые ­учётные записи
Name[sk]=Online účty
Name[sl]=Spletni računi
Name[sq]=Llogaritë Online
Name[sr]=Налози на мрежи
Name[sv]=Konton på nätet
Name[te]=ఆన్‌లైన్ ఖాతాలు
Name[th]=บัญชีออนไลน์
Name[tr]=Çevrimiçi Hesaplar
Name[uk]=Мережеві облікові записи
Name[uz]=Onlayn hisoblar
Name[vi]=Tài khoản trực tuyến
Name[zh_CN]=在线账号
Name[zh_TW]=線上帳號
Name=Online Accounts
Comment[ast]=Coneutase a los tos datos na ñube
Comment[be]=Злучыцца з вашымі данымі ў воблаку
Comment[br]=Kennaskañ d'ho roadennoù er c'houmoul
Comment[ca]=Connecteu-vos a les vostres dades al núvol
Comment[cs]=Připojení k vašim datům v cloudu
Comment[cy]=Cysylltu i'ch data yn y cwmwl
Comment[da]=Forbind til dine data i skyen
Comment[de]=Mit Ihren Daten in der Cloud verbinden
Comment[el]=Συνδεθείτε με τα δεδομένα σας στο cloud
Comment[en_GB]=Connect to your data in the cloud
Comment[eo]=Konekti al viaj datumoj en la nubo
Comment[es]=Conéctese a sus datos en la nube
Comment[et]=Ühendu pilves olevate andmetega
Comment[eu]=Konektatu zure datuak hodeian
Comment[fa]=اتصال به داده های شما در فضای ابری
Comment[fi]=Muodosta yhteys pilvessä oleviin tietoihisi
Comment[fr]=Connectez vous à vos données nuagiques
Comment[fr_CA]=Connectez vous à vos données nuagiques
Comment[he]=התחברות למידע אישי בענן
Comment[hi]=क्लाउड में अपने डेटा से कनेक्ट करें
Comment[hu]=Kapcsolódás a felhőben lévő adataihoz
Comment[ia]=Connecte te a tu datos in le nube
Comment[id]=Hubungkan ke data Anda di awan
Comment[is]=Tengstu gögnunum þínum í tölvuskýi
Comment[it]=Collegati ai tuoi dati nel cloud
Comment[ja]=クラウドの個人データに接続します
Comment[ko]=클라우드의 데이터에 연결합니다
Comment[mnw]=ဆက်စၠောံကဵု ဒေတာ မၞးနူလပှ်ကျာတေံညိ။
Comment[nb]=Koble opp til din data i skyen
Comment[nl]=Verbinden met uw gegevens in de wolkdienst
Comment[oc]=Connexion a vòstras donadas de la nívol
Comment[pl]=Łączenie z danymi w chmurze
Comment[pt]=Ligue-se aos seus dados na nuvem
Comment[pt_BR]=Conecte seus dados na nuvem
Comment[ro]=Conectează-te la datele tale din servicii online
Comment[ru]=Подключение к данным в облаке
Comment[sk]=Pripojte sa k svojim údajom v cloude
Comment[sl]=Povežite se svojimi podatki v oblaku
Comment[sr]=Повежите се на ваше податке у облаку
Comment[sv]=Anslut till dina data i molnet
Comment[te]=క్లౌడ్‌లోని మీ డేటాకు కనెక్ట్ చేయండి
Comment[th]=เชื่อมต่อกับข้อมูลของคุณในคลาวด์
Comment[tr]=Buluttaki verinize bağlantı sağlayın
Comment[uk]=З'єднати ваші дані з хмарою
Comment[uz]=Bulutdagi ma'lumotlaringizga ulaning
Comment[vi]=Kết nối với dữ liệu của bạn trên đám mây
Comment[zh_CN]=连接您的云端数据
Comment[zh_TW]=連接您的雲端資料
Comment=Connect to your data in the cloud
Type=Application
Categories=Settings;
Icon=gnome-online-accounts-gtk
Exec=gnome-online-accounts-gtk
Keywords[ast]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[be]=google;facebook;twitter;yahoo;вэб;онлайн;чат;каляндар;пошта;кантакт;воблака;kerberos;imap;smtp;pocket;readitlater;уліковы запіс;
Keywords[br]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[ca]=google;facebook;twitter;yahoo;web;online;línia;xat;calendari;correu;contacte;núvol;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[cs]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[cy]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[da]=google;facebook;twitter;yahoo;web;online;chat;kalender;mail;kontakt;kontaktperson;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[de]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;Kalender;E-Mail;email;Kontakt;Nextcloud;cloud;
Keywords[el]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[en_GB]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[eo]=guglo;fejsbuko;tvitero;yahoo;reto;enrete;retbabili;kalendaro;retpoŝto;kontakto;propranubo;cerbero;imap;smtp;poŝo;legoteposte;konto;
Keywords[es]=google;facebook;twitter;yahoo;web;en línea;chat;calendario;correo;contacto;owncloud;kerberos;imap;smtp;pocket;leer más tarde;cuenta;
Keywords[et]=google;facebook;twitter;yahoo;veeb;internet;online;onlain;tšätt;vestlus;kalender;e-post;meil;e-mail;kontaktid;aadressiraamat;owncloud;kerberos;imap;smtp;järjehoidjad;readitlater;loehiljem;konto;
Keywords[eu]=google;facebook;twitter;yahoo;web;online;txata;egutegia;posta elektronikoa;kontaktuak;owncloud;kerberos;imap;smtp;pocket;readitlater;kontua;
Keywords[fa]=گوگل؛فیسبوک؛توییتر؛Yahoo؛وب؛آنلاین؛گفتگو؛تقویم؛نامه؛تماس؛owncloud؛kerberos؛imap؛smtp؛pocket؛readitlater؛حساب؛
Keywords[fi]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[fr]=google;facebook;twitter;yahoo;web;en ligne;chat;dialogue;calendrier;agenda;mail;courriel;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[fr_CA]=google;facebook;twitter;yahoo;web;en ligne;clavardage;chat;dialogue;calendrier;agenda;mail;courriel;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;
Keywords[he]=google;facebook;twitter;yahoo;רשת;מקוון;chat;calendar;דוא"ל;קשר;owncloud;kerberos;imap;smtp;pocket;readitlater;חשבון;
Keywords[hi]=गूगल; फेसबुक; चहचहाहट; याहू; वेब; ऑनलाइन; गपशप; कैलेंडर; डाक; संपर्क; खुद का बादल; केर्बेरोस; आईएमएपी; एसएमटीपी; जेब; पढ़ना; खाता;
Keywords[hu]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;csevegés;csevegő;naptár;levelezés;kapcsolatok;névjegy
Keywords[ia]=google;facebook;twitter;yahoo;web;in linea;chat;calendario;posta;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;conto;
Keywords[id]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[is]=google;facebook;twitter;yahoo;web;nettengt;spjall;dagatal;póstur;tengiliðir;owncloud;kerberos;imap;smtp;pocket;readitlater;aðgangur;
Keywords[it]=google;facebook;twitter;yahoo;web;online;chat;calendario;posta;contatti;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[ja]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;ウェブ;オンライン;チャット;カレンダー;メール;連絡;アカウント;
Keywords[ko]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[nb]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[nl]=google;facebook;twitter;yahoo;web;online;chat;kalender;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[oc]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;compte;corrièl;calendièr;agenda;corrièr;nívol;ret;malhum;
Keywords[pl]=google;facebook;twitter;yahoo;web;sieć;online;czat;kalendarz;poczta;kontakt;owncloud;kerberos;imap;smtp;pocket;readitlater;konto;
Keywords[pt]=google;facebook;twitter;yahoo;web;online;chat;calendário;correio;mail;contacto;owncloud;kerberos;imap;smtp;pocket;readitlater;conta;
Keywords[pt_BR]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[ro]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;cont;internet;
Keywords[ru]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[sk]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[sl]=google;facebook;twitter;yahoo;web;online;spletni;splet;klepe;chat;calendar;koledar;mail;pošta;stik;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;račun;
Keywords[sr]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[sv]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[te]=గూగుల్; ఫేస్ బుక్;ట్పిట్లర్;యాహు;వెబ్;ఆస్నైన్;సంభాషణ;క్యాలెండర్;మెయిల్;కాంటాక్ట్;ఓన్ క్లౌడ్;కెర్బెరోస్;imap;smtp;పాకెట్;readitlater;ఖాతా;
Keywords[th]=google;facebook;twitter;yahoo;เว็บ;ออนไลน์;สนทนา;ปฏิทิน;เมล;ที่อยู่ติดต่อ;owncloud;kerberos;imap;smtp;pocket;readitlater;บัญชี;
Keywords[tr]=google;facebook;twitter;yahoo;web;çevrimiçi;sohbet;takvim;eposta;iletişim;owncloud;kerberos;imap;smtp;pocket;readitlater;hesap;
Keywords[uk]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[uz]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[vi]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords[zh_CN]=谷歌;脸书;推特;雅虎;网页;在线;聊天;日历;邮件;联系;OwnCloud;Kerberos;imap;smtp;口袋;readitlater;账号;
Keywords[zh_TW]=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
Keywords=google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;account;
