[Desktop Entry]
Name=GNOME OAuth2 Handler
Exec=/usr/libexec/goa-oauth2-handler %u
Type=Application
MimeType=x-scheme-handler/goa-oauth2;x-scheme-handler/com.googleusercontent.apps.44438659992-7kgjeitenc16ssihbtdjbgguch7ju55s
NoDisplay=true
