[Desktop Entry]
Categories=GNOME;GTK;System;TerminalEmulator;
Comment[be]=Наладзіць камандны радок
Comment[bg]=Настройване на командния ред
Comment[ca]=Configura la línia d'ordres
Comment[cs]=Nastavit příkazový řádek
Comment[da]=Indstil kommandolinjen
Comment[de]=Befehlszeile einrichten
Comment[el]=Ρύθμιση της γραμμής εντολών
Comment[es]=Configurar la línea de comandos
Comment[eu]=Konfiguratu komando-lerroa
Comment[fa]=پیکربندی خط فرمان
Comment[fi]=Määritä komentorivi
Comment[fr]=Configurer la ligne de commande
Comment[fur]=Configure la rie di comant
Comment[gl]=Configurar a liña de ordes
Comment[he]=הגדרת שורת הפקודה
Comment[hu]=A parancssor beállítása
Comment[id]=Mengonfigurasi baris perintah
Comment[ka]=ბრძანების სტრიქონის მორგება
Comment[ko]=명령 행을 설정합니다
Comment[lt]=Konfigūruoti komandų eilutę
Comment[nl]=Configureer de opdrachtregel
Comment[oc]=Configurar la linha de comanda
Comment[pl]=Konfiguracja wiersza poleceń
Comment[pt]=Configurar a linha de comandos
Comment[pt_BR]=Configure a linha de comando
Comment[ru]=Настроить командную строку
Comment[sl]=Nastavi ukazno vrstico
Comment[sr]=Подеси линију наредби
Comment[sv]=Konfigurera kommandoraden
Comment[tr]=Komut satırını yapılandır
Comment[uk]=Налаштувати командний рядок
Comment[zh_CN]=配置命令行
Comment=Configure the command line
DBusActivatable=false
Exec=gnome-terminal --preferences
Icon=org.gnome.Terminal.Preferences
Keywords[ar]=طرفية;صدفة;سطر;أوامر;أمر;
Keywords[be]=shell;prompt;command;commandline;cmd;абалонка;камандны радок;загад;каманда;камандны радок;
Keywords[bg]=обвивка;терминал;команда;команден;ред;интерпретатор;eмулатор;конзола;баш;шел;дос;shell;prompt;command;commandline;cmd;
Keywords[bn_IN]=সেল;প্রম্পট;কম্যান্ড;কম্যান্ডলাইন;cmd;
Keywords[ca]=intèrpret d'ordres;indicador;ordre;línia d'ordres;
Keywords[ca@valencia]=intèrpret d'ordes;indicador;orde;línia d'ordes;
Keywords[cs]=shell;prompt;výzva;příkaz;příkazový řádek;příkazová řádka;
Keywords[da]=shell;skal;prompt;kommando;kommandolinje;cmd;
Keywords[de]=Shell;Prompt;Eingabeaufforderung;Befehl;Befehlszeile;cmd;
Keywords[el]=κέλυφος;προτροπή;εντολή;γραμμή εντολών;shell;prompt;command;commandline;cmd;
Keywords[en_GB]=shell;prompt;command;commandline;cmd;
Keywords[eo]=ŝelo;invito;komando;komandlinio;kmd;cmd;
Keywords[es]=shell;prompt;comando;línea de comandos;cmd;
Keywords[eu]=shell;gonbitea;komandoa;komando-lerroa;kmd;
Keywords[fa]=shell;prompt;command;commandline;cmd;فرمان;خط فرمان;پایانه;
Keywords[fi]=shell;prompt;command;commandline;cmd;komento;kehote;komentorivi;cli;
Keywords[fr]=shell;prompt;commande;ligne de commande;cmd;
Keywords[fur]=shell;prompt;terminâl;comant;riedicomant;cmd;
Keywords[gd]=shell;prompt;command;commandline;loidhne-àithne;àithne;àitheantan;cmd;slige;
Keywords[gl]=shell;consola;orde;liña de ordes;cmd;comando;
Keywords[he]=מעטפת;פקודה;שורת פקודה;שורה;מסך שחור;חלון דוס;cmd;
Keywords[hr]=ljuska;prompt;naredba;naredbeni redak;cmd;
Keywords[hu]=parancsértelmező;prompt;parancs;parancssor;cmd;
Keywords[id]=shell;prompt;perintah;baris perintah;cmd;
Keywords[is]=skel;kvaðning;skipun;skipanalína;cmd;
Keywords[it]=shell;prompt;terminale;rigadicomando;comando;cmd;
Keywords[ja]=shell;prompt;command;commandline;cmd;シェル;コマンドプロンプト;コマンドライン;terminal;ターミナル;端末;
Keywords[ka]=shell;prompt;command;commandline;cmd;
Keywords[kk]=shell;prompt;command;commandline;cmd;қоршам;сұрау;команда;командалық жол;
Keywords[ko]=shell;셸;쉘;prompt;프롬프트;command;명령;commandline;명령행;커맨드;라인;cmd;
Keywords[lt]=apvalkalas;eilutė;komanda;komandų eilutė;cmd;
Keywords[lv]=čaula;uzvedne;komanda;komandrinda;cmd;
Keywords[ml]=shell;prompt;command;commandline;cmd;
Keywords[ms]=shell;bisikan;perintah;baris perintah;cmd;
Keywords[nb]=skall;kommando;kommandolinje;
Keywords[ne]=शेल;प्रोम्प्ट;आदेश;आदेशरेखा;cmd;
Keywords[nl]=shell;prompt;command;commando;opdrachtregel;cli;commandline;terminal;cmd;
Keywords[oc]=shell;prompt;comanda;linha de comanda;
Keywords[pa]=ਸ਼ੈਲ;ਪਰੌਂਟ;ਕਮਾਂਡ;ਕਮਾਂਡ-ਲਾਈਨ;ਕਮਾਂਡ;
Keywords[pl]=powłoka;shell;prompt;polecenie;komenda;wiersz poleceń;linia poleceń;wiersz komend;linia komend;cmd;ptyxis;terminal;cli;konsola;console;
Keywords[pt]=consola;linhacomandos;comando;terminal;cmd;
Keywords[pt_BR]=shell;prompt;comando;linha de comando;cmd;
Keywords[ro]=shell;prompt;command;commandline;cmd;linie;comandă;
Keywords[ru]=оболочка;строка;команда;командная строка;cmd;
Keywords[sk]=shell;výzva;príkaz;príkazový riadok;cmd;
Keywords[sl]=shell;prompt;command;commandline;cmd;lupina;ukazna vrstica;ukaz;terminal;
Keywords[sr]=љуска;шкољка;упит;наредба;команда;shell;prompt;command;commandline;cmd;
Keywords[sr@latin]=ljuska;školjka;upit;naredba;komanda;
Keywords[sv]=skal;shell;prompt;kommando;kommandorad;cmd;
Keywords[tg]=восит;сатри фармон;фармон;хати фармон;cmd;shell;prompt;command;commandline;
Keywords[th]=เชลล์;พรอมต์;คำสั่ง;บรรทัดคำสั่ง;cmd;
Keywords[tr]=shell;kabuk;istem;komut;komut satırı;cmd;kmt;
Keywords[uk]=shell;prompt;command;commandline;cmd;оболонка;командний;рядок;команда;
Keywords[vi]=shell;hệ vỏ;he vo;prompt;nhắc lệnh;nhac lenh;command;lệnh;lenh;commandline;dòng lệnh;dong lenh;cmd;
Keywords[zh_CN]=shell;prompt;command;commandline;命令;提示符;命令行;
Keywords[zh_TW]=shell;prompt;command;commandline;cmd;外表殼;殼層;提示;指令;命令列;
Keywords=shell;prompt;command;commandline;cmd;
Name[be]=Налады тэрмінала
Name[bg]=Настройки на терминала
Name[ca]=Preferències del Terminal
Name[cs]=Předvolby terminálu
Name[da]=Indstillinger for terminal
Name[de]=Terminal-Einstellungen
Name[el]=Προτιμήσεις τερματικού
Name[es]=Preferencias de la terminal
Name[eu]=Terminalaren hobespenak
Name[fa]=ترجیحات پایانه
Name[fi]=Päätteen asetukset
Name[fr]=Préférences de Terminal
Name[fur]=Preferencis dal Terminâl
Name[gl]=Preferencias de Terminal
Name[he]=העדפות מסוף
Name[hu]=Terminál beállítások
Name[id]=Preferensi Terminal
Name[ka]=ტერმინალის მორგება
Name[ko]=터미널 기본 설정
Name[lt]=Terminalo nuostatos
Name[nl]=Terminalvoorkeuren
Name[oc]=Preferéncias del terminal
Name[pl]=Preferencje terminala
Name[pt]=Preferências do Terminal
Name[pt_BR]=Preferências do terminal
Name[ru]=Параметры терминала
Name[sl]=Lastnosti terminala
Name[sr]=Поставке терминала
Name[sv]=Terminalinställningar
Name[tr]=Uçbirim Tercihleri
Name[uk]=Параметри «Термінала»
Name[zh_CN]=终端首选项
Name=Terminal Preferences
NoDisplay=true
SingleMainWindow=true
StartupNotify=true
StartupWMClass=Gnome-terminal-preferences
TryExec=gnome-terminal
Type=Application
