[Desktop Entry]
Type=Application
Name[cs]=Připomínky událostí a úkolů
Name[da]=Påmindelser for begivenheder og opgaver
Name[en_GB]=Events and Tasks Reminders
Name[eu]=Gertaeren eta zereginen oroigarriak
Name[fr]=Rappels des évènements et des tâches
Name[fur]=Events e pro memoria di ativitâts
Name[hu]=Események és feladatok emlékeztetői
Name[id]=Pengingat Acara dan Tugas
Name[lt]=Įvykių ir užduočių priminėjai
Name[lv]=Notikumu un uzdevumu atgādinājumi
Name[pl]=Przypomnienia o wydarzeniach i zadaniach
Name[pt_BR]=Eventos e lembretes de tarefas
Name[ru]=Напоминания о событиях и задачах
Name[sl]=Opomniki za dogodke in opravila
Name[sr]=Подсетници за догађаје и задатке
Name[sv]=Evenemangs- och uppgiftspåminnelser
Name[tr]=Etkinlik ve Görev Anımsatıcılar
Name[uk]=Нагадування про події та завдання
Name[zh_CN]=事件和任务提醒
Name=Events and Tasks Reminders
Comment[cs]=Upozornění na události a úkoly
Comment[da]=Påmindelser for begivenheder og opgaver
Comment[en_GB]=Event and task notifications
Comment[eu]=Gertaeren eta zereginen jakinarazpenak
Comment[fr]=Notifications d’évènement et de tâche
Comment[hu]=Esemény- és feladatértesítések
Comment[id]=Pemberitahuan acara dan tugas
Comment[lt]=Įvykio ir užduoties pranešimai
Comment[lv]=Notikumu un uzdevumu paziņojumi
Comment[pl]=Powiadomienia o wydarzeniach i zadaniach
Comment[pt_BR]=Evento e notificações de tarefas
Comment[ru]=Уведомления о событиях и задачах
Comment[sl]=Obvestila o dogodkih in opravilih
Comment[sr]=Обавештења за догађаје и задатке
Comment[sv]=Evenemangs- och uppgiftsaviseringar
Comment[tr]=Olay ve görev bildirimleri
Comment[uk]=Сповіщення про події та завдання
Comment[zh_CN]=事件和任务通知
Comment=Event and task notifications
Icon=org.gnome.Evolution-alarm-notify
Exec=/usr/libexec/evolution-data-server/evolution-alarm-notify
Terminal=false
Categories=
NoDisplay=true
X-Meego-Priority=Low
X-GNOME-UsesNotifications=true
