[Desktop Entry]
Type=Application
Name[cs]=Obslužný nástroj OAuth2 Evolution Data Server
Name[da]=Evolution Data Server OAuth2-håndtering
Name[en_GB]=Evolution Data Server OAuth2 Handler
Name[eu]=Evolution Datu-Zerbitzariaren OAuth2 maneiatzailea
Name[fr]=Gestionnaire OAuth2 du serveur de données Evolution
Name[hu]=Evolution adatkiszolgáló OAuth2-kezelő
Name[id]=Penangan OAuth2 Server Data Evolution
Name[lt]=Evolution duomenų serveris OAuth2 apdorotojas
Name[pl]=Obsługa OAuth2 w serwerze danych Evolution
Name[pt_BR]=Manipulador OAuth2 do servidor de dados do evolution
Name[ru]=Обработчик OAuth2 сервера данных Evolution
Name[sl]=Rutina za obravnavo podatkovnega strežnika Evolution OAuth2
Name[sr]=ОАутх2 за Еволуцијин сервер података
Name[sv]=Evolution Data Servers OAuth2-hanterare
Name[tr]=Evolution Veri Sunucu OAuth2 İşleyicisi
Name[uk]=Обробник OAuth2 сервера даних Evolution
Name[zh_CN]=Evolution 数据服务器 OAuth2 处理程序
Name=Evolution Data Server OAuth2 Handler
Comment[cs]=Zpracovává odpovědi OAuth2 a předává je implementaci prompteru OAuth2
Comment[da]=Håndterer OAuth2-svar og sender dem videre til OAuth2-prompter-implementeringen
Comment[en_GB]=Handles OAuth2 responses and passes them to the OAuth2 prompter implementation
Comment[eu]=OAuth2 erantzunak maneiatzen ditu eta OAuth2 gonbit-inplementazioari pasatzen dizkio
Comment[fr]=Gère les réponses OAuth2 et les transmet pour leur mise en oeuvre au prompteur OAuth2
Comment[fur]=Al gjestìs lis rispuestis OAuth2 e lis passe ae implementazion dal "prompter" OAuth2
Comment[hu]=Kezeli az OAuth2 válaszokat, és átadja azokat az OAuth2 kérdező megvalósításának.
Comment[id]=Menangani respon OAuth2 dan meneruskannya ke implementasi prompter OAuth2
Comment[lt]=Apdoroja OAuth2 atsakymus ir perduoda juos OAuth2 užklausų realizacijai
Comment[pl]=Obsługuje odpowiedzi OAuth2 i przekazuje je do implementacji okna dialogowego OAuth2
Comment[pt_BR]=Manipula respostas OAuth2 e passa-as para o interpretador OAuth2 implementado
Comment[ru]=Обрабатывает ответы OAuth2 и передает их в реализацию подсказчика OAuth2
Comment[sl]=Obravnava odgovore OAuth2 in jih posreduje implementaciji odzivnika OAuth2
Comment[sr]=Ради са ОАутх2 одговорима и прослеђује их у ОАутх2 форму за унос података
Comment[sv]=Hanterar OAuth2-svar och skickar dem till OAuth2-frågeimplementationen
Comment[tr]=OAuth2 yanıtlarını işler ve OAuth2 istem gerçeklemesine iletir
Comment[uk]=Обробляє відповіді OAuth2 і передає їх реалізації засобу запиту OAuth2
Comment[zh_CN]=处理 OAuth2 响应并将其传递给 OAuth2 提示的具体实现程序
Comment=Handles OAuth2 responses and passes them to the OAuth2 prompter implementation
Exec=/usr/libexec/evolution-data-server/evolution-oauth2-handler %u
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/com.googleusercontent.apps.590402290962-2i0b7rqma8b9nmtfrcp7fa06g6cf7g74;x-scheme-handler/eds-oauth2;
