[Desktop Entry]
Name=Python (v3.13)
Comment=Python Interpreter (v3.13)
Exec=/usr/bin/python3.13
Icon=/usr/share/pixmaps/python3.13.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
