:root {
    border-color: #000;
    background-color: #600;
}

#menuBar,
dialog h1 {
    color: #f00;
    background-color: #600;
    border-color: #000;
}

#menuBar .menuDropdown,
#menuBar .submenuDropdown,
#contextMenu,
dialog a {
    border-color: #000;
    background-color: #600;
}

#menuBar hr,
#contextMenu hr {
    border-color: #000;
}

#menuBar li,
#menuBar a,
#contextMenu a,
dialog a {
    color: #f00;
    background-color: #600;
}

#menuBar li:hover,
#menuBar a:hover,
#menuBar .menuDropdown span:hover,
#contextMenu a:hover,
dialog a:hover {
    background-color: #500;
}

#textArea {
    scrollbar-color: #800 #c00;
}

#textArea,
dialog div,
dialog footer,
main {
    background-color: #800;
    color: #f00;
}

#textArea::selection {
    background-color: #500;
    color: #fff;
}

#themeItem>span::after,
#zoomItem>span::after,
#boldItem::after,
#themeItem .submenuDropdown a::after {
    color: #fff;
}

#zoomInput::-moz-range-thumb {
    background: #000;
}

#zoomInput::-webkit-slider-thumb {
    background: #000;
}

#zoomInput::-moz-range-track {
    background: #a00;
}

#zoomInput::-webkit-slider-runnable-track {
    background: #a00;
}